<!DOCTYPE html>
<html>
	<head>
		<title>{{.Title}}</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
		<style type="text/css">
			body {padding-bottom: 70px;}
			.content {margin:10px;}
		</style>
	</head>
	<body>
	    <nav class="navbar navbar-default" role="navigation">
	      <div class="navbar-header">
	        <a class="navbar-brand" href="/">Go App</a>
	      </div>
	      <div class="collapse navbar-collapse navbar-ex1-collapse">  
	        <ul class="nav navbar-nav">
	        	<li><a href="/">Home</a></li>
	        	<li><a href="/Previdencia">Previdencia</a></li>
	        	<li><a href="/Investimentos">Investimentos</a></li>
	        	<li><a href="/Custos">Custos</a></li>
	        </ul>
	      </div>
	    </nav>
<div class="content">
	<h2>Custos</h2>
	<div>This is the Custos page</div>


<table border="1">
<tr>
<th>Tipo de Veículo</th>

<th>Manutenção de Veículos</th>
</tr>

<tr>
<th>Carro</th>
<th>Período</th>
</tr>

<tr>
<td>Gasolina por mês</td>
<td>Todo mês</td>
</tr>

<tr>
<td>Limpeza por mês</td>
<td>A cada 3 meses</td>

</tr>
<tr>
<td> Alinhamento dos pneus </td>
<td> 10 a 20 mil km </td>
</tr>

<tr>
<td> Correia do alternador </td>
<td> Junto com a correia dentada </td>
</tr>

<tr>
<td> Correia do compressor do ar-condicionado </td>
<td> Junto com a correia dentada </td>
</tr>

<tr>
<td> Correia dentada </td>
<td> 40 mil a 100 mil km, média de 60 mil km </td>
</tr>

<tr>
<td> Correia poly-v (bomba d'água) </td>
<td> Junto com a correia dentada </td>
</tr>

<tr>
<td> Filtro de ar </td>
<td> Junto com a troca de óleo </td>
</tr>

<tr>
<td> Filtro de cabine (antipólen) </td>
<td> Uma vez ao ano </td>
</tr>

<tr>
<td> Filtro de combustível </td>
<td> 20 mil km </td>
</tr>

<tr>
<td> Filtro de óleo </td>
<td> Sempre que trocar o óleo </td>
</tr>

<tr>
<td> Fluido das transmissões </td>
<td> 60 a 100 mil km ou 2 a 4 anos </td>
</tr>

<tr>
<td> Fluido de freio (óleo do freio) </td>
<td> Seis meses a um ano </td>
</tr>

<tr>
<td> Limpeza do ar condicionado </td>
<td> Uma vez ao ano </td>
</tr>

<tr>
<td> Limpeza do sistema de arrefecimento </td>
<td> Quando trocar o líquido de arrefecimento </td>
</tr>

<tr>
<td> Líquido de arrefecimento </td>
<td> A cada dois anos </td>
</tr>

<tr>
<td> Óleo lubrificante </td>
<td> A cada 5 mil a 15 mil km </td>
</tr>

<tr>
<td> Pneus </td>
<td> Validade de 5 anos </td>
</tr>

<tr>
<td> Velas </td>
<td> Podem variar de 15 mil a 100 mil km </td>
</tr>

<tr>
<td> Água do limpador de parabrisa </td>
<td> Nível </td>
</tr>

<tr>
<td> Buzina </td>
<td> Cheque funcionamento se passar por alagamentos </td>
</tr>

<tr>
<td> Cintos de segurança </td>
<td> Desgaste visível ou histórico de colisão </td>
</tr>

<tr>
<td> Embreagem </td>
<td> Kit de embreagem (carros manuais ou automatizados) </td>
</tr>

<tr>
<td> Estepe </td>
<td> Cheque a calibragem a cada 2 meses </td>
</tr>

<tr>
<td> Fluido da direção hidráulica </td>
<td> Nível </td>
</tr>

<tr>
<td> Fluido de freio (óleo de freio) </td>
<td> Medir o nível de contaminação </td>
</tr>

<tr>
<td> Limpadores de parabrisa </td>
<td> Condição das palhetas </td>
</tr>

<tr>
<td> Luzes </td>
<td> Faróis, lanternas, da cabine, e luzes de alerta no painel </td>
</tr>

<tr>
<td> Pneus </td>
<td> Desgaste dos sulcos e calibragem </td>
</tr>

<tr>
<td> Sistema de carga </td>
<td> Alternador e bateria </td>
</tr>

<tr>
<td> Sistema de freios </td>
<td> Pastilhas e discos, ou lona e tambor </td>
</tr>

<tr>
<td> Sistema de suspensão </td>
<td> Amortecedor, bandeja, pivô, articulações, mola </td>
</tr>

</table>

 <br>

<table border="1">
<tr>
<th>Moto</th>
<th>Período</th>
</tr>

<tr>
<td>Gasolina por mês</td>
<td>Todo mês</td>
</tr>

<tr>
<td>Limpeza por mês</td>
<td>Todo mês</td>

</tr>
<tr>
<td> Lubrificação da corrente </td>
<td> A cada 500km rodados </td>
</tr>

<tr>
<td>  Lubrificação do motor </td>
<td> A cada 500km rodados, </td>
</tr>

<tr>
<td> Lubrificação do motor </td>
<td> A cada 1.000km rodados </td>
</tr>

<tr>
<td> Chaves e chaveiros no tanque de combustível </td>
<td> Frequentemente </td>
</tr>

<tr>
<td> Checagem dos freios </td>
<td> A cada 1.000km rodados  </td>
</tr>

<tr>
<td> O uso da bateria </td>
<td> Frequentemente </td>
</tr>

</table>

<br>

<table border="1">
<tr>
<th>Bicicleta</th>
<th>Período</th>
</tr>

<tr>
<td>Pneus</td>
<td>Frequentemente conferir se está careca</td>
</tr>

<tr>
<td>Corrente</td>
<td> Dura 1.500 quilômetros</td>
</tr>

<tr>
<td>Freios</td>
<td>Quando as pastilhas atingem 60% de sua espessura original</td>
</tr>

<tr>
<td>Suspensão</td>
<td>Após 50 horas de uso da sua bike</td>
</tr>

</table>

<br>
<br>
<br>

<table border="1">
<tr>
<th>Manutenção do Próprio Custo de Vida - Faixa Etária Jovem(18 aos 29 anos)</th>
<th>Por mês</th>
</tr>

<tr>
<td>Alimentação</td>
<td>R$ 20,00 por dia - R$600,00</td>
</tr>


<tr>
<td>Água</td>
<td>R$50,00</td>
</tr>

<tr>
<td>Luz</td>
<td>R$100,00</td>
</tr>

<tr>
<td>Gás</td>
<td>R$50,00</td>
</tr>

<tr>
<td>Telefone, internet e TV a cabo</td>
<td>R$200,00</td>
</tr>


<tr>
<td>Aluguel</td>
<td>R$1200</td>
</tr>


<tr>
<td>Condomínio</td>
<td>R$100,00</td>
</tr>

</table>


<br>
<br>
<br>

<table border="1">
<tr>
<th>Custo das Despesas com Filhos</th>
<th>Por Ano</th>
<th>Observações </th>
</tr>

<tr>
<td>0 a 3 anos</td>
<td>R$ 26 mil (média de R$ 6,5 mil por ano)</td>
<td> Despesa pré-natais, gravidez, carrinho, parto, remédios, vacinas, pediatra, babá ou creche, plano de saúde e fraldas! </td>
</tr>


<tr>
<td>4 a 6 anos</td>
<td>R$ 45 mil (média de R$ 15 mil por ano)</td>
<td> Além das despesas comuns, a creche ou escola levam a gastos maiores, com material escolar, uniformes, transportes, festinhas com presentes e clubes etc. </td>
</tr>

<tr>
<td>7 a 10 anos</td>
<td>R$ 70 mil (média de R$ 17,5 mil por ano)</td>
<td> Escola Particular </td>
</tr>

<tr>
<td>11 a 14 anos</td>
<td>R$ 86 mil (média de R$ 21,5 mil por ano)</td>
<td> Colégios particulares e o material mais caro, acrescidos a roupas, festas! </td>
</tr>

<tr>
<td>15 a 17 anos</td>
<td>R$ 66 mil (média de R$ 22 mil por ano)</td>
<td> Período de plena adolescência e cursinho pré-vestibular para tentar faculdade gratuita </td>
</tr>

<tr>
<td>18 a 23 anos</td>
<td>R$ 125 mil (média de R$ 25 mil por ano)</td>
<td> Faculdade particular (valor médio) + material escolar + refeições fora de casa </td>
</tr>

</table>

<br>
<br>
<br>

Dados retirados dos seguintes sites:
<br>
Dados para Manutenção de Veículos:
<br>
https://autopapo.com.br/noticia/calendario-de-manutencao-preventiva-de-carros/
<br>
https://www.motoboy.com/blog/manutencao-preventiva-moto/
<br>
http://blog.bikeregistrada.com.br/manutencao-de-bicicleta-5-itens-para-ficar-atento-ao-pedalar/
<br>
<br>
Dados para Manutenção de Vida e de Filhos:
<br>
https://jurosbaixos.com.br/conteudo/qual-e-o-custo-minimo-de-morar-sozinho_/
<br>
https://oglobo.globo.com/sociedade/saude/economista-calcula-quanto-custa-ter-um-filho-4557201" ><br>
<br>

</div>/
</body>
</html>