<!DOCTYPE html>
<html>
	<head>
		<title>{{.Title}}</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
		<style type="text/css">
			body {padding-bottom: 70px;}
			.content {margin:10px;}
		</style>
	</head>
	<body>
	    <nav class="navbar navbar-default" role="navigation">
	      <div class="navbar-header">
	        <a class="navbar-brand" href="/">Go App</a>
	      </div>
	      <div class="collapse navbar-collapse navbar-ex1-collapse">  
	        <ul class="nav navbar-nav">
	        	<li><a href="/">Home</a></li>
	        	<li><a href="/Previdencia">Previdencia</a></li>
	        	<li><a href="/Investimentos">Investimentos</a></li>
	        	<li><a href="/Custos">Custos</a></li>
	        </ul>
	      </div>
	    </nav>
<div class="content">
	<h2>Custos</h2>
	<div>This is the Custos page</div>


<table border="1">
<tr>
<th>Tipo de Veículo</th>

<th>Manutenção de Veículos</th>
</tr>

<tr>
<th>Carro</th>
<th>Período</th>
</tr>

<tr>
<td>Gasolina por mês</td>
<td>Todo mês</td>
</tr>

<tr>
<td>Limpeza por mês</td>
<td>A cada 3 meses</td>

</tr>
<tr>
<td> Alinhamento dos pneus </td>
<td> 10 a 20 mil km </td>
</tr>

<tr>
<td> Correia do alternador </td>
<td> Junto com a correia dentada </td>
</tr>

<tr>
<td> Correia do compressor do ar-condicionado </td>
<td> Junto com a correia dentada </td>
</tr>

<tr>
<td> Correia dentada </td>
<td> 40 mil a 100 mil km, média de 60 mil km </td>
</tr>

<tr>
<td> Correia poly-v (bomba d'água) </td>
<td> Junto com a correia dentada </td>
</tr>

<tr>
<td> Filtro de ar </td>
<td> Junto com a troca de óleo </td>
</tr>

<tr>
<td> Filtro de cabine (antipólen) </td>
<td> Uma vez ao ano </td>
</tr>

<tr>
<td> Filtro de combustível </td>
<td> 20 mil km </td>
</tr>

<tr>
<td> Filtro de óleo </td>
<td> Sempre que trocar o óleo </td>
</tr>

<tr>
<td> Fluido das transmissões </td>
<td> 60 a 100 mil km ou 2 a 4 anos </td>
</tr>

<tr>
<td> Fluido de freio (óleo do freio) </td>
<td> Seis meses a um ano </td>
</tr>

<tr>
<td> Limpeza do ar condicionado </td>
<td> Uma vez ao ano </td>
</tr>

<tr>
<td> Limpeza do sistema de arrefecimento </td>
<td> Quando trocar o líquido de arrefecimento </td>
</tr>

<tr>
<td> Líquido de arrefecimento </td>
<td> A cada dois anos </td>
</tr>

<tr>
<td> Óleo lubrificante </td>
<td> A cada 5 mil a 15 mil km </td>
</tr>

<tr>
<td> Pneus </td>
<td> Validade de 5 anos </td>
</tr>

<tr>
<td> Velas </td>
<td> Podem variar de 15 mil a 100 mil km </td>
</tr>

<tr>
<td> Água do limpador de parabrisa </td>
<td> Nível </td>
</tr>

<tr>
<td> Buzina </td>
<td> Cheque funcionamento se passar por alagamentos </td>
</tr>

<tr>
<td> Cintos de segurança </td>
<td> Desgaste visível ou histórico de colisão </td>
</tr>

<tr>
<td> Embreagem </td>
<td> Kit de embreagem (carros manuais ou automatizados) </td>
</tr>

<tr>
<td> Estepe </td>
<td> Cheque a calibragem a cada 2 meses </td>
</tr>

<tr>
<td> Fluido da direção hidráulica </td>
<td> Nível </td>
</tr>

<tr>
<td> Fluido de freio (óleo de freio) </td>
<td> Medir o nível de contaminação </td>
</tr>

<tr>
<td> Limpadores de parabrisa </td>
<td> Condição das palhetas </td>
</tr>

<tr>
<td> Luzes </td>
<td> Faróis, lanternas, da cabine, e luzes de alerta no painel </td>
</tr>

<tr>
<td> Pneus </td>
<td> Desgaste dos sulcos e calibragem </td>
</tr>

<tr>
<td> Sistema de carga </td>
<td> Alternador e bateria </td>
</tr>

<tr>
<td> Sistema de freios </td>
<td> Pastilhas e discos, ou lona e tambor </td>
</tr>

<tr>
<td> Sistema de suspensão </td>
<td> Amortecedor, bandeja, pivô, articulações, mola </td>
</tr>

</table>

 <br>

<table border="1">
<tr>
<th>Moto</th>
<th>Período</th>
</tr>

<tr>
<td>Gasolina por mês</td>
<td>Todo mês</td>
</tr>

<tr>
<td>Limpeza por mês</td>
<td>Todo mês</td>

</tr>
<tr>
<td> Lubrificação da corrente </td>
<td> A cada 500km rodados </td>
</tr>

<tr>
<td>  Lubrificação do motor </td>
<td> A cada 500km rodados, </td>
</tr>

<tr>
<td> Lubrificação do motor </td>
<td> A cada 1.000km rodados </td>
</tr>

<tr>
<td> Chaves e chaveiros no tanque de combustível </td>
<td> Frequentemente </td>
</tr>

<tr>
<td> Checagem dos freios </td>
<td> A cada 1.000km rodados  </td>
</tr>

<tr>
<td> O uso da bateria </td>
<td> Frequentemente </td>
</tr>

</table>

<br>

<table border="1">
<tr>
<th>Bicicleta</th>
<th>Período</th>
</tr>

<tr>
<td>Pneus</td>
<td>Frequentemente conferir se está careca</td>
</tr>

<tr>
<td>Corrente</td>
<td> Dura 1.500 quilômetros</td>
</tr>

<tr>
<td>Freios</td>
<td>Quando as pastilhas atingem 60% de sua espessura original</td>
</tr>

<tr>
<td>Suspensão</td>
<td>Após 50 horas de uso da sua bike</td>
</tr>

</table>


</div>/
</body>
</html>