<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
		<style type="text/css">
			body {padding-bottom: 70px;}
			.content {margin:10px;}
		</style>
	</head>
	<body>
	    <nav class="navbar navbar-default" role="navigation">
	      <div class="navbar-header">
	        <a class="navbar-brand" href="/">Go App</a>
	      </div>
	      <div class="collapse navbar-collapse navbar-ex1-collapse">  
	        <ul class="nav navbar-nav">
	        	<li><a href="/">Home</a></li>
	        	<li><a href="/Previdencia">Previdencia</a></li>
	        	<li><a href="/Investimentos">Investimentos</a></li>
	        	<li><a href="/Custos">Custos</a></li>
	        </ul>
	      </div>
	    </nav>
<div class="content">
	<h2>Investimentos</h2>

<div><form action="/InvestimentosRendimento" method="POST">
	<h3>Quanto o dinheiro vai render</h3><br>
  Deposito incial: <br><input type="text" name="deposito" value="1000" ><br>
  Quanto meses o dinheiro vai ficar investido: <br><input type="text" name="meses" value="24"><br>
  <input type="submit" name="calcular_rendimento">
	<h3>Resultado: {{.Resultado1}}<br>
	{{.Resultado2}}<br>
	{{.Resultado3}}<br>
	{{.Resultado4}}<br>
	{{.Resultado5}}<br>
	{{.Resultado6}}<br></h3>

</form></div>

</div>
</body>
</html>