<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
		<style type="text/css">
			body {padding-bottom: 70px;}
			.content {margin:10px;}
		</style>
	</head>
	<body>
	    <nav class="navbar navbar-default" role="navigation">
	      <div class="navbar-header">
	        <a class="navbar-brand" href="/">Go App</a>
	      </div>
	      <div class="collapse navbar-collapse navbar-ex1-collapse">  
	        <ul class="nav navbar-nav">
	        	<li><a href="/">Home</a></li>
	        	<li><a href="/Previdencia">Previdencia</a></li>
	        	<li><a href="/Investimentos">Investimentos</a></li>
	        	<li><a href="/Custos">Custos</a></li>
	        </ul>
	      </div>
	    </nav>
<div class="content">
	<h2>Investimentos</h2>

<form action="/InvestimentosPerfil" method="GET">
  <button type="submit">Analise de Perfil de Investimento</button><br><br>
  <button type="submit" formaction="/InvestimentosRendimento">Calcular o rendimento dos investimentos</button>
</form>

</div>
</body>
</html>