<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
		<style type="text/css">
			body {padding-bottom: 70px;}
			.content {margin:10px;}
		</style>
	</head>
	<body>
	    <nav class="navbar navbar-default" role="navigation">
	      <div class="navbar-header">
	        <a class="navbar-brand" href="/">Go App</a>
	      </div>
	      <div class="collapse navbar-collapse navbar-ex1-collapse">  
	        <ul class="nav navbar-nav">
	        	<li><a href="/">Home</a></li>
	        	<li><a href="/Previdencia">Previdencia</a></li>
	        	<li><a href="/Investimentos">Investimentos</a></li>
	        	<li><a href="/Custos">Custos</a></li>
	        </ul>
	      </div>
	    </nav>


<div class="content">
	<h2>Previdencia</h2>
<div><form action="/PrevidenciaReceber" method="POST">
	<h3>Quanto você vai receber</h3><br>
  Idade: <br><input type="text" name="idade" value="20" ><br>
  Com quantos anos quer se aposentar: <br><input type="text" name="idade_aposent" value="60"><br>
  Quanto quer contribuir por mês: <br><input type="text" name="contribuir" value="750"><br>
  <input type="submit" name="calcular_aposentadoria">
	<h3>Resultado: {{.Resultado}}</h3><br>
</form></div>
</div>
</body>
</html>